a:hover{
	color: #ff0000;
}

a {
	text-decoration: none;
}

nav a {
	padding: 0 2% 0 2%;
}

nav {
	max-width: 960px;
	margin: 0 auto;
	background-color: #729fcf;
	text-align: center;
}

.headbr {
	clear: both;
}

header div {
	max-width: 960px;
	margin: 0 auto;
}

header h1 {
	padding: 30px 10px 10px 10px;
}

footer {
	width: 100%;
	background-color: #729fcf;
	height: 150px;
	text-align: center;
}

#main, #forma, #table {
	max-width: 960px;
	margin: 0 auto;
	background-color: #729fcf;
}

.headimg {
	margin: 5px;
	border-radius: 40px;
	float: left;
}

header {
	width: 100%;
	background-color: #729fcf;
	padding: 10px 0 10px 0;
}

.odd {
	background-color: #6bf4f6;
}

.even {
	background-color: #6bffa1;
}
table {
	border: 2px;
}